client/node_modules
socket/node_modules
client/dist
client/package-lock.json
socket/package-lock.json
server/composer.lock
config/.env
server/public/.htaccess
.vscode/launch.json
server/files/
server/src/HospitalApi/SpecialDataPermissions.yml
client/static/img/links
